body {
    color: white;
    background: rgb(255, 177, 111);
    margin: 0px;
    font-family: "Matemasie", sans-serif;
}

header {
    border-bottom: solid 2px rgb(254, 249, 217);
    padding: 20px;
    font-size: 32px;
    color: rgb(254, 249, 217);
}

section {
    background: rgb(255, 177, 111);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 185%;
}
p {
font-size: 180%;
}

img {
    height: 150px;
}

.categoria-videos {
    display: flex;
    
}